<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nasim</title>
</head>
<body style="
        background-image: url('./images/bg.png');
        background-color: #b1dff1;
        background-size: cover;
       ">

<div style="flex: 1; text-align: center; margin-top: 177px;">
<!--    <div style="flex: 1; text-align: center; margin-top: 3px;">

        <img alt="nasim logo"
             style="
                    padding: 3px;

                    width: 100px; height: 100px;"
             src="download/nasim/1024.png">

    </div>-->
    <div style="font-size: 74px;text-align: center; margin: 10px;color: #fff;font-weight: bolder">Nasim</div>
    <a href="itms-services://?action=download-manifest&amp;url=https://www.monta.ir/apaman/download/nasim/manifest.plist">
        <img alt="IOS Download"
             src="./images/iosLogo.jpeg"
             style="
                    padding: 3px;
                    background: silver;
                    border-radius: 13px;
                    width: 300px; height: 127px;margin-top: 30px;"
        >
    </a>
</div>
<div style="flex: 1; text-align: center; margin-top: 47px;">
    <a href="download/nasim/Nasim.apk">
        <img alt="Android Download"
                style="
                    padding: 3px;
                    background: green;
                    border-radius: 13px;
                    width: 300px; height: 127px;"
                src="./images/androidLogo.jpg">
    </a>
</div>

</body>
</html>
